body{
    background-color: rgb(87, 115, 123);
}

#header
{
    background-color: white;
    color: black;
    padding: 5%
    margin: 100px
}

#landingpage
{
    background-color: black;
    padding: 3%
    margin: 100px
}